{% extends "Navbar.html" %}
{% block content %}
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lung Disease Detection</title>
  
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"
      integrity="sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/flatpickr.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr@4.6.9/dist/flatpickr.min.css">
  
    <style>
      .container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
      }
      
      .container img {
        max-width: 50%; /* Adjust this value as needed */
        height: auto;
      }

      .left-image {
        margin-right: 10px; /* Adjust margin to add space between images */
      }

      .right-image {
        margin-left: 10px; /* Adjust margin to add space between images */
      }
    </style>
  
  </head>
  <body>

    <!-- Heading for both images -->
    <h3 style="text-align: left; margin-top: 20px; margin-bottom: 20px;margin-left: 50px;">Standard CNN Visualization</h3>

    <!-- Confusion Matrix of Standard CNN Algorithm -->
    <div class="container">
      <img src="static/images/cm_standardcnn.jpg" alt="Standard CNN Confusion Matrix" class="left-image" style="width: 500px; height: 350px">
    </div>
    
    {% endblock %}   
  </body>
</html>
